*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;

}

.container{
    height: 46.5vw;
    // max-height: 140vw;
    width:100vw;
    background-image: url(/assets/back.jpg);
    background-size: cover;
}


.navbar { 
    display: flex;
    justify-content:right;
    align-items: right; 
    padding: 10px 20px; 
  }

img{
    max-width: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 20px;
    border-top: 20px;
    border-radius: 50px;
}

.navbar a{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;  
    letter-spacing: 1px;
    
}
  
.navbar a:hover{
    transform: scale(1.1s);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
